<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="//cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        html,body {
            height: 100%;
        }
        #app{
            height:100%;
        }
    </style>
</head>
<body>
<div id="app"></div>
<script src="js/vendors.bundle.js"></script>
<script src="js/bundle.js"></script>
</body>
</html>